# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/ssm-blank/target
/ssm-blank/logs
/ssm-admin/target
/ssm-admin/logs
/ssm-motan-web/target
/ssm-motan-web/logs
/ssm-motan-module/target
/ssm-motan-module/logs